* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  background-color: #111 !important;
  overflow-x: hidden;
}
#start {
  padding: 20px 60px !important;
  font-size: 2.5rem !important;
  display: block;
}
#card {
  display: none;
}
.title {
  color: #fff !important;
  margin-top: 50px;
  margin-bottom: 100px !important;
  text-align: center;
  font-size: 2.5rem;
}
.title2 {
  color: #fff !important;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: crimson !important;
  border-radius: 18px;
  min-width: 400px !important;
  min-height: 300px !important;
}
.card__title {
  color: #fff;
  font-size: 1.8rem;
  padding: 20px 30px;
  text-align: center;
  line-height: 40px;
  width: 500px;
}
.card__header {
  background-color: rgb(17, 140, 255) !important;
}
.list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.item {
  font-size: 2rem;
  color: #fff;
  margin-top: 20px;
}
.button {
  padding-top: 30px;
}
#btn {
  color: #fff !important;
  background-color: rgb(80, 20, 220) !important;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 1.8rem !important;
  width: 100%;
}
span:hover {
  cursor: pointer;
}
.list-height {
  min-height: 252px !important;
  min-width: 400px !important;
}
.crimson{
    color: crimson !important;
    text-shadow: 0 0 20px crimson;
}
@media (max-width:570px) {
    .item{
        font-size: 1.4rem !important; 
    }
    .title{
        font-size: 1.5rem !important;
    }
    .container{
        height: 55vh !important;
    }
    .card__title{
        font-size: 1.4rem !important;
        line-height: 20px;
        width: 400px;
    }
    #btn{
        font-size: 1.4rem !important;
    }
    .card{
      width: 300px !important;
    }
    #start{
      font-size: 1.5rem !important;
      padding:7px 21px;
    }
}

@media (max-width:420px) {
    .item{
        font-size: 1.4rem !important; 
    }
    .title{
        font-size: 1.5rem !important;
    }
    .container{
        height: 55vh !important;
    }
    .card__title{
        font-size: 1.4rem !important;
        line-height: 20px;
        width: 300px;
    }
    #btn{
        font-size: 1.4rem !important;
    }
    .card{
        min-width: 270px !important;
        min-height: 300px !important;
    }
    .list{
        padding-left: 10px !important;
    }
}
@media (max-width:360px) {
    .item{
        font-size: 1.4rem !important; 
    }
    .title{
        font-size: 1.5rem !important;
    }
    .container{
        height: 55vh !important;
    }
    .card__title{
        font-size: 1.4rem !important;
        line-height: 26px; text-align: center;
        width: 300px;
    }
    #btn{
        font-size: 1.4rem !important;
    }
    .card{
      width: 300px;
        min-width: 200px !important;
        min-height: 300px !important;
    }
    .list{
        padding-left: 10px !important;
    }
}